GEMINI_API_KEY=sua_chave_paga_aqui
GEMINI_API_KEY2=sua_chave_gratuita_aqui
SLACK_BOT_TOKEN=xoxb-...
SLACK_APP_TOKEN=xapp-...
SLACK_CHANNEL_ID=#seu-canal
GOOGLE_APPLICATION_CREDENTIALS=credenciais.json
ID_PASTA_RAIZ_DRIVE=seu_id_do_drive